<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thatkawaiiguy.meleehandbook"
          android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CharacterActivity"/>
        <activity
            android:name=".activity.CharacterFrameActivity"/>
        <activity
            android:name=".activity.FunActivity"/>
        <activity
            android:name=".activity.StageActivity"/>
        <activity
            android:name=".activity.TechTabActivity"/>
        <activity
            android:name=".activity.VideoInfoActivity"/>
        <activity
            android:name=".activity.AppSettingsActivity"/>
        <activity
            android:name=".activity.HitBoxesActivity"/>
        <activity
            android:name=".activity.HealthyActivity"/>
        <activity
            android:name=".activity.SearchResultsActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

    </application>

</manifest>
